body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color:white;
    padding: 40px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 38, 38, 0.5);
    align-items: center;
  }

.right-column{
    flex: 1;
}

.left-column{
    flex: 1;
    margin-right: 100px;
}
